In [1]:
import os

In [17]:
data_dir_path = './data'
data_files = os.listdir(data_dir_path)
data_files = [os.path.join(data_dir_path, f) for f in data_files]
data_files = [f for f in data_files if f.endswith('.json')]

In [18]:
data_files

['./data/train.json', './data/test.json', './data/dev.json']

In [26]:
import numpy as np
import pandas as pd

In [25]:
train_path = [d for d in data_files if 'train' in d][0]
dev_path = [d for d in data_files if 'dev' in d][0]
test_path = [d for d in data_files if 'test' in d][0]

In [81]:
train_df = pd.read_json(train_path, lines=False)
dev_df = pd.read_json(dev_path, lines=False)
test_df = pd.read_json(test_path, lines=False)

In [88]:
tokens, ners = train_df[['tokens', 'ner_tokens']].sum()

tokens = [t for t, n in zip(tokens, ners) if n != 'O']
ners = [n for n in ners if n != 'O']

df_tn = pd.DataFrame({'tokens': tokens, 'ners': ners})

In [122]:
df_tn.groupby('ners').agg(['count', 'nunique'])

               tokens
                count nunique
ners
B-DATA            259      71
B-EVENTO            9       7
B-FUNDAMENTO      418      45
B-LOCAL           354     163
B-ORGANIZACAO     373     117
B-PESSOA          522     209
B-PRODUTODELEI    193      66
I-DATA            168      35
I-EVENTO           16      13
I-FUNDAMENTO     3535     455
I-LOCAL           423     160
I-ORGANIZACAO     793     219
I-PESSOA          401     188
I-PRODUTODELEI    724     234